<app-header></app-header>
<section class="contact-us flex nowrap c-ai c-jc">
    <div data-aos="fade-up" class="info flex column c-ai aos-init aos-animate">
        <img src="/assets/map.png" alt="Map">
        <div class="flex column">
            <p><strong>آدرس : </strong><span>اراک، بلوار شهدای دولت ، بلوار کشاورز ، دانشگاه فنی حرفه ای
                    امیرکبیر</span></p>
            <p><strong>شماره تماس :&zwnj; </strong><span>08633680073</span></p>
            <p><strong>آدرس ایمیل :&zwnj; </strong><span>mail[at]rayda[dot]ir</span></p>
        </div>
    </div>
    <div class="form flex column">
        <h3>تماس با ما</h3>
        <p> با ارسال کردن فرم زیر ما با شما تماس
            میگیریم.</p>
        <input type="text" placeholder="نام و نام خانوادگی">
        <input type="email" placeholder="آدرس ایمیل">
        <textarea rows="10" placeholder="متن پیام شما"></textarea>
        <button>ارسال</button>
    </div>
</section>
<app-footer></app-footer>