@import "./styles/content.css";

@import "./styles/section.introduction.css";
@import "./styles/section.logo.css";
@import "./styles/section.features.css";
@import "./styles/section.services.css";
@import "./styles/section.plans.css";
@import "./styles/section.demo.css";
@import "./styles/section.platform.css";

main.flex{
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}