<app-header></app-header>
<main>
    <div class="background"></div>
    <section class="planing flex nowrap">
        <div class="image"></div>
        <div class="content">
            <h2>تعرفه ها و امکانات بادام</h2>
            <p>امکانات متفاوت و قیمت های متفاوت برای اتوماسیون تغذیه ی سازمان خود داشته باشید.</p>
        </div>
    </section>
    <div class="plans flex wrap">
        <div class="plan">
            <h1>رایگان</h1>
            <p>رایگان برای همیشه با امکانات محدود</p>
            <ul type="disc">
                <li>قابلیت اول</li>
                <li>قابلیت دوم</li>
            </ul>
            <button>شروع کن</button>
        </div>
        <div class="plan">
            <h1>حرفه ای</h1>
            <p>همراه با امکانات رایگان</p>
            <ul type="disc">
                <li>قابلیت سوم</li>
                <li>قابلیت چهارم</li>
                <li>قابلیت پنجم</li>
                <li>قابلیت ششم</li>
            </ul>
            <div class="price"><span>100</span> تومان / ماهانه</div>
            <button>شروع کن</button>
        </div>
    </div>
    <section class="table flex column c-ai c-jc">
        <div class="background">
            <div class="c-1"></div>
            <div class="c-2"></div>
            <div class="c-3"></div>
            <div class="c-4"></div>
            <div class="c-5"></div>
        </div>
        <div class="content">
            <h2>مقایسه پکیج ها</h2>
            <p>آگاهانه پکیجی که به آن نیاز دارید را انتخاب کنید.</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>رایگان</th>
                    <th>حرفه ای</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>قابلیت اول</td>
                    <td>
                        <div class="tick"></div>
                    </td>
                    <td>
                        <div class="tick"></div>
                    </td>
                </tr>
                <tr>
                    <td>قابلیت دوم</td>
                    <td>500</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>قابلیت سوم</td>
                    <td>-</td>
                    <td>
                        <div class="tick"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button>سفارش</button></td>
                    <td><button>سفارش</button></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
<app-footer></app-footer>