<app-header></app-header>

<section class="search flex column c-jc">
    <h2>چطور می توانیم به شما کمک کنیم ؟</h2>
    <div class="search-container flex nowrap c-ai">
        <input type="text" placeholder="سوالتان را اینجا از ما بپرسید ..." autocomplete="off" name="rayda-search">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <path
                d="M31 28h-1.59l-.55-.55C30.82 25.18 32 22.23 32 19c0-7.18-5.82-13-13-13S6 11.82 6 19s5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55V31l10 9.98L40.98 38 31 28zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z" />
        </svg>
    </div>
    <div class="categories flex wrap">
        <span>گوگل</span>
        <span>اپل</span>
    </div>
</section>
<section class="faq">
    <div class="faqs flex column c-ai c-jc">
        <div class="faq flex column" onclick="this.classList.toggle('open')">
            <div class="head flex nowrap">
                <div class="flex column">
                    <h3>عنوان سوال</h3>
                    <div class="flex wrap"><span>دسته بندی اول</span><span>دسته بندی دوم</span></div>
                </div>
                <div class="more flex column">
                    <div class="views">1398</div>
                </div>
            </div>
            <div class="content">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده
                شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
                دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای
                اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </div>
            <div class="score flex nowrap c-ai">
                <span>آیا این مطلب مفید بود ؟ </span>
                <button>بله</button>
                <button>خیر</button>
            </div>
        </div>
        <div class="faq flex column" onclick="this.classList.toggle('open')">
            <div class="head flex nowrap">
                <div class="flex column">
                    <h3>عنوان سوال</h3>
                    <div class="flex wrap"><span>دسته بندی اول</span><span>دسته بندی دوم</span></div>
                </div>
                <div class="more flex column">
                    <div class="views">1398</div>
                </div>
            </div>
            <div class="content">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده
                شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
                دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای
                اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </div>
            <div class="score flex nowrap c-ai">
                <span>آیا این مطلب مفید بود ؟ </span>
                <button>بله</button>
                <button>خیر</button>
            </div>
        </div>
    </div>
    <div class="pages flex nowrap c-jc c-ai">
        <div class="page active">1</div>
        <div class="page">2</div>
    </div>
</section>
<app-footer></app-footer>